html, body {
	background-color: #505050;
	font-family: 'Corben', Georgia, Times, serif;
	font-color: #505050;
}
body {
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Corben', Georgia, Times, serif;
	font-color: #505050;
}
			
.navbar-header {
	color: #404040;
}
			
.jumbotron {
	color: #404040;
}

#myheader {
	background-image: url(../images/leaf.jpg);
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#title {
	text-align: center;
}

#thumbnail {
	width: 71;
	height: 80;
}