html, body {
	background-color: #505050;
	font-family: 'Corben', Georgia, Times, serif;
	font-color: #505050;
}
body {
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Corben', Georgia, Times, serif;
	font-color: #505050;
}
			
.navbar-header {
	color: #404040;
}
			
.jumbotron {
	color: #404040;
	position: relative;
}

#myheader {
	background-image: url('none');
	background-size:cover;
}

#title {
	text-align: center;
}